@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your favourite book store</h1>
    <p>Here you will find all the best sellers at much higher price </p>
    <p>We need to make money too...</p>
    <p>Also, you must be logged in to make a purchase.</p>
</div>
